.burgerMenuIcon {
    cursor: pointer; /* Добавляет указатель курсора при наведении на иконку */
    width: 30px; /* Задает ширину значка */
    height: 30px; /* Задает высоту значка */
    margin-right: 20px; /* Добавляет отступ справа от значка */
}

.header {
    display: flex; /* Элементы выстроятся в ряд */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    justify-content: space-between;  /* Равномерно распределяет элементы по оси X */
    padding: 10px 20px; /* Добавляет внутренние отступы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Добавляет тень на хедер */
    position: sticky; /* Позволяет хедеру "прилипнуть" к верхней части окна просмотра */
    top: 0; /* определяет положение "прилипшего" хедера */
    background-color: #fff; /* Добавляет белый фон хедеру */
}

.header h1 {
    margin: 0; /* Убирает дефолтные отступы */
    font-size: 20px; /* Задает размер шрифта */
}